<!-- <div ng-controller="JourneyCtrl">  -->

<ui-view>
<h1>Locative</h1>
<div ng-controller="MapCtrl">
  <div class = "row" style="display: inline;">
    <button ng-click="showRoute()" ng-disabled="routeDisplayed" id="directions-button" style="height: 50px; width: 80px; margin-bottom: 10px; border-radius: 10px">Show Route</button>
    <button ng-click="hideRoute()" id="directions-button" style="height: 50px; width: 80px; margin-left: 5%; margin-bottom: 10px; border-radius: 10px">Hide Route</button>
  </div>  
  <br>

  <leaflet width="640px" height="480px" markers="markers" center="center" bounds="bounds" layers="layers"></leaflet>
</div>

<ul rn-carousel rn-carousel-controls class="post">
  <li ng-repeat="post in posts">
    <div class="layer">{{ image }}</div>
    <img ng-src="{{ post['hi_res_img'] }}">
  </li>
</ul>
<!--   <ul>
    <li ng-repeat="post in posts">
      <img ng-src="{{ post['low_res_img'] }}"></a>
      <a href="#"
         editable-text="post.caption"
         onaftersave="updatePost()">{{ post.caption || '' }}</a>
    </li>
  </ul> -->
</ui-view>