<!-- <div ng-controller="JourneyCtrl"> -->
<!-- <h2>{{ user.name }}</h2>
<h3>{{ user.email }}</h3>
<h3>Instagram Name: {{ user.instagram_name }}</h3>
<ul>
<li ng-repeat="journey in journeys">
<a ui-sref="user.journey({journeyId: journey.id})">{{ journey.name }}</a></li>
</ul>
<div ui-view></div> -->

<ui-view>
        <i>Some content will load here!</i>
<h1>This is the journeys page!</h1>
  <div ng-hide="journeysNil">
  <h1 ng-model="user.name">{{user.name}}'s Journeys</h1> 

    <div ng-repeat="journey in journeys" ng-controller="FormCtrl">
      <form editable-form name="journeyForm" onaftersave="updateJourney(journey)">
      <!-- <a ui-sref="user.journey({journeyId: journey.id})">{{ journey.name }}</a> -->
      <div>
        <a ui-sref="user.journey({journeyId: journey.id})">
          <span editable-text="journey.name" e-name="name" e-required>{{ journey.name || 'empty' }}</span>
        </a>  
      </div> 
      <div>
        <span editable-text="journey.date" e-name="date" e-required>{{ journey.date || 'empty' }}</span>
      </div> 
      <!-- button to show form -->
      <div ng-show="isAuthorized()">
          <!-- button to show form -->
        <button type="button" ng-click="journeyForm.$show()" ng-show="!journeyForm.$visible"> Edit </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="journeyForm.$visible">
          <button type="submit" ng-disabled="journeyForm.$waiting">
            Save
          </button>
          <button type="button" ng-disabled="journeyForm.$waiting" ng-click="destroyJourney(journey)">
            Delete
          </button>
          <button type="button" ng-disabled="journeyForm.$waiting" ng-click="journeyForm.$cancel()">
            Cancel
          </button>
        </span>
      </div>
      </form> 
    </div> 




  <!--       <a ui-sref="#"
           editable-text="journey.date"
           onaftersave="updateJourney()">{{ journey.date }}</a>
        <button type="button" 
                ng-click="startEditing()">
          <i class="fa fa-pencil-square-o"></i>
        </button>
        <button class="delete button" 
                onClick="return confirm('Are you sure you want to delete this journey?')" 
                ng-click="destroyJourney()">X</button>
        <input  ng-if="isEditing"
                type="text"
                ng-model="journey.name"
                placeholder:"{{ journey.name }}"
                onaftersave="updateJourney()"
                onaftersave="stopEditing()"
        </form> -->

      </div>

  <div  class="new-user no-journeys" 
        ng-show="journeysNil">
    <h1 style="text-align: center;"><strong>#locativeGo!</strong></h1>
    <br>
    <h2 ng-model="user.name" 
        style="text-align: center;">Welcome to locative, {{ user.name }}!</h2>
    <h4>Looks like you don't have any journeys to share yet. No problem... To start your first journey, post the initial photo to Instagram with the hashtag <strong>#locativeGo</strong> (making sure the 'Add to Photo Map' option is selected), and you're off! Any additional photos you want to share along the way will need to be hashtagged <strong>#locative</strong> as well. We'll take care of the rest.

    When you're ready for your next journey, you know what to do... </h4>
    <br>
    <h2 style="text-align: center;"><strong>#locativeGo!</strong></h2>
  </div>
  </ui-view>


<!-- </div> -->