<div ng-controller="AboutCtrl"> 
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
       <h1>the journey.</h1>
    </div>
    <div id="js-parallax-background" class="parallax-background"></div>
  </div>

  <div class="side-image">
    <div class="images-wrapper"></div>
      <div class="side-image-content">
    <!--     <h4>Topic Name</h4> -->
        <h1>YOUR JOURNEY</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
     <!--    <button>SIGN UP</button> -->
    </div>
  </div>
    <section class="main-middle">
      <article class="hover-tile-outer">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>SIGN UP TO CREATE A JOURNEY</h4>
              <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing    elit. Unde, provident eligendi.</p>
              <a href="javascript:void(0)" class="sign-up">Sign Up</a>
            </div>
          </div>
        </div>
      </article>
      <article class="hover-tile-outer-2">
        <div class="hover-tile-container">
          <div class="hover-tile hover-tile-visible"></div>
            <div class="hover-tile hover-tile-hidden">
              <h4>SEARCH FOR A JOURNEY</h4>
              <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
              <a href="javascript:void(0)" class="sign-up">Search</a>
            </div>
          </div>
        </div>
       </article>
      </section>
  </br>
  </br>
  <div id="js-fadeInElement" class="fade-in-element">
    <p>This was done as a project for General Assembly Web Development Immersive.<p>
    <p>300px above the bottom</p>
    <p>And disappear as it goes below the bottom</p> 
    <p>of the window.</p>
    <br>
  </div>
  </br>

  <section class="bio-pics">
    <article>
      <img src="/images/angel.jpg">
      <h2>Angel</h2>
      <section class="social-media-icon">
       <i class="fa fa-camera-retro"></i><img src="/images/brandico.font-master/src/svg/linkedin-rect.svg"><img src="/images/brandico.font-master/src/svg/github.svg">
       <img src="/images/brandico.font-master/src/svg/instagram-filled.svg">
      <section>
    </article>

    <article>
      <img src="/images/ric.jpg">
      <h2>Ric</h2>
      <section class="social-media-icon">
       <img src="/images/brandico.font-master/src/svg/twitter.svg"><img src="/images/brandico.font-master/src/svg/linkedin-rect.svg"><img src="/images/brandico.font-master/src/svg/github.svg">
       <img src="/images/brandico.font-master/src/svg/instagram-filled.svg">
      <section>
    </article>

    <article>
      <img src="/images/rsz_jacob-picture_720.png">
      <h2>Jacob</h2>
      <section class="social-media-icon">
       <img src="/images/brandico.font-master/src/svg/twitter.svg"><img src="/images/brandico.font-master/src/svg/linkedin-rect.svg"><img src="/images/brandico.font-master/src/svg/github.svg">
       <img src="/images/brandico.font-master/src/svg/instagram-filled.svg">
      <section>
    </article>

    <article>
      <img src="/images/bennett.jpg">
      <h2>Bennett</h2>
      <section class="social-media-icon">
       <img src="/images/brandico.font-master/src/svg/twitter.svg"><img src="/images/brandico.font-master/src/svg/linkedin-rect.svg"><img src="/images/brandico.font-master/src/svg/github.svg">
       <img src="/images/brandico.font-master/src/svg/instagram-filled.svg">
      <section>
    </article>
  </section>
</div>