<div ng-controller="AboutCtrl"> 
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
       <h1 style="margin: -1.9em 0 0 -3.4em;">the journey.</h1>
    </div>
    <div id="js-parallax-background" class="parallax-background" style="top: 0px;"></div>
  </div>

  <div class="side-image">
    <div class="images-wrapper"></div>
      <div class="side-image-content">
    <!--     <h4>Topic Name</h4> -->
        <h1>YOUR JOURNEY</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
     <!--    <button>SIGN UP</button> -->
    </div>
  </div>
  <section class="main-middle">
    <article class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"></div>
        <div class="hover-tile hover-tile-hidden">
          <h4>SIGN UP TO CREATE A JOURNEY</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing    elit. Unde, provident eligendi.</p>
          <a href="javascript:void(0)" class="sign-up">Sign Up</a>
        </div>
      </div>
    </article>
    <article class="hover-tile-outer-2">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"></div>
        <div class="hover-tile hover-tile-hidden">
          <h4>SEARCH FOR A JOURNEY</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
          <a href="javascript:void(0)" class="sign-up">Search</a>
        </div>
      </div>
    </article>
  </section>
  </br>
  </br>
  <div id="js-fadeInElement" class="fade-in-element">
    <p>This was done as a project for General Assembly Web Development Immersive.<p>
    <p>300px above the bottom</p>
    <p>And disappear as it goes below the bottom</p> 
    <p>of the window.</p>
    <br>
  </div>
  </br>

  <section class="bio-pics">
    <article>
      <img src="/images/angel.jpg">
      <h2>Angel Banks</h2>
      <section class="socialbtns">
       <a href="https://github.com/ambanks" class="fa fa-lg fa-github"></a>
       <a href="https://linkedin.com/in/angelicambanks" class="fa fa-lg fa-linkedin"></a>
       <a href="mailto:angelicambanks@gmail.com" class="fa fa-lg fa-envelope"></a>
       <a href="https://twitter.com/angelmbanks" class="fa fa-lg fa-twitter"></a>
      <section>
    </article>

    <article>
      <img src="/images/ric.jpg">
      <h2>Ric Cabrera</h2>
      <section class="socialbtns">
       <a href="https://github.com/riccabrera" class="fa fa-lg fa-github"></a>
       <a href="https://www.linkedin.com/profile/view?id=405493960&authType=NAME_SEARCH&authToken=5w_R&locale=en_US&trk=tyah2&trkInfo=idx%3A1-2-2%2CtarId%3A1426514912600%2Ctas%3Aricardo" class="fa fa-lg fa-linkedin"></a>
       <a href="mailto:riccabrerap@gmail.com" class="fa fa-lg fa-envelope"></a>
       <a href="https://twitter.com/riccabra" class="fa fa-lg fa-twitter"></a>
      <section>
    </article>

    <article>
      <img src="/images/jacob-picture_720.9979524f.png">
      <h2>Jacob Baum</h2>
      <section class="socialbtns">
       <a href="https://github.com/jacobbaum" class="fa fa-lg fa-github"></a>
       <a href="mailto:jacobbaum@gmail.com" class="fa fa-lg fa-envelope"></a>
      <section>
    </article>

    <article>
      <img src="/images/bennett.jpg">
      <h2>Bennett Adams</h2>
      <section class="socialbtns">
       <a href="https://github.com/bennettatoms" class="fa fa-lg fa-github"></a>
       <a href="https://www.linkedin.com/pub/bennett-adams/8/181/3b9" class="fa fa-lg fa-linkedin"></a>
       <a href="mailto:bennettadams46@gmail.com" class="fa fa-lg fa-envelope"></a>
       <a href="https://twitter.com/theBennettAdams" class="fa fa-lg fa-twitter"></a>
      <section>
</div>