<div ng-controller="AboutCtrl"> 
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
       <h1 style="margin: -1.9em 0 0 -3.4em;">the journey.</h1>
    </div>
    <div id="js-parallax-background" class="parallax-background" style="top: 0px;"></div>
  </div>

  <div class="side-image">
    <div class="images-wrapper"></div>
      <div class="side-image-content">
    <!--     <h4>Topic Name</h4> -->
        <h1 class="main-middle-title">YOUR JOURNEY</h1>
        <br />
        <br />
        <p>To start your first journey, post the initial photo to Instagram with the hashtag #locativeGo (making sure the 'Add to Photo Map' option is selected), and you're off! Any additional photos you want to share along the way will need to be hashtagged #locative as well. We'll take care of the rest. When you're ready for your next journey, you know what to do...</p>
        <br />
        <br />
     <!--    <button>SIGN UP</button> -->
    </div>
  </div>
  <section class="main-middle">
    <article class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"></div>
        <div class="hover-tile hover-tile-hidden">
          <h4>SIGN UP TO CREATE A JOURNEY</h4>
          <a ui-sref="signup" class="sign-up">Sign Up</a>
        </div>
      </div>
    </article>
  </section>
  </br>
  </br>
  </br>

  <section class="bio-pics">
    <article>
      <img src="/images/angel.jpg">
      <h2>Angel Banks</h2>
      <section class="socialbtns">
       <a href="https://github.com/ambanks" class="fa fa-lg fa-github"></a>
       <a href="https://linkedin.com/in/angelicambanks" class="fa fa-lg fa-linkedin"></a>
       <a href="mailto:angelicambanks@gmail.com" class="fa fa-lg fa-envelope"></a>
       <a href="https://twitter.com/angelmbanks" class="fa fa-lg fa-twitter"></a>
      <section>
    </article>

    <article>
      <img src="/images/ric.jpg">
      <h2>Ric Cabrera</h2>
      <section class="socialbtns">
       <a href="https://github.com/riccabrera" class="fa fa-lg fa-github"></a>
       <a href="https://www.linkedin.com/profile/view?id=405493960&authType=NAME_SEARCH&authToken=5w_R&locale=en_US&trk=tyah2&trkInfo=idx%3A1-2-2%2CtarId%3A1426514912600%2Ctas%3Aricardo" class="fa fa-lg fa-linkedin"></a>
       <a href="mailto:riccabrerap@gmail.com" class="fa fa-lg fa-envelope"></a>
       <a href="https://twitter.com/riccabra" class="fa fa-lg fa-twitter"></a>
      <section>
    </article>

    <article>
      <img src="/images/jacob-picture_720.9979524f.png">
      <h2>Jacob Baum</h2>
      <section class="socialbtns">
       <a href="https://github.com/jacobbaum" class="fa fa-lg fa-github"></a>
       <a href="mailto:jacobbaum@gmail.com" class="fa fa-lg fa-envelope"></a>
      <section>
    </article>

    <article>
      <img src="/images/bennett.jpg">
      <h2>Bennett Adams</h2>
      <section class="socialbtns">
       <a href="https://github.com/bennettatoms" class="fa fa-lg fa-github"></a>
       <a href="https://www.linkedin.com/pub/bennett-adams/8/181/3b9" class="fa fa-lg fa-linkedin"></a>
       <a href="mailto:bennettadams46@gmail.com" class="fa fa-lg fa-envelope"></a>
       <a href="https://twitter.com/theBennettAdams" class="fa fa-lg fa-twitter"></a>
      <section>
</div>