<div class="registration">

  <form class="signup-form" name="signUpForm" ng-submit="signUp()" novalidate>
    <div class="form-group">
      <input type="text"
             name="name"
             class="form-control"
             placeholder="Username"
             ng-model="user.name"
             ng-minlength="1"
             ng-maxlength="40"
             required>
      <div ng-messages="signUpForm.name.$error">
        <div class="flash-error" ng-message="required">You forgot to enter your username...</div>
        <div class="flash-error" ng-message="minlength">Your username must have at least one letter...</div>
        <div class="flash-error" ng-message="maxlength">Your username is too long...</div>
      </div>
    </div>

    <div class="form-group-2">
      <input type="email"
             name="email"
             class="form-control"
             placeholder="Email"
             ng-model="user.email"
             ng-minlength="5"
             ng-maxlength="40"
             required>
      <div ng-messages="signUpForm.email.$error">
        <div class="flash-error" ng-message="required">You forgot to enter your email address...</div>
        <div class="flash-error" ng-message="minlength">Your email address is too short...</div>
        <div class="flash-error" ng-message="maxlength">Your email address is too long...</div>
        <div class="flash-error" ng-message="email">You did not enter your email address correctly...</div>
      </div>
    </div>

    <div class="form-group-2">
      <input type="password"
             name="password"
             class="form-control"
             placeholder="Password"
             ng-model="user.password"
             ng-minlength="6"
             ng-maxlength="20"
             required>
      <div ng-messages="registrationForm.password.$error">
        <div class="flash-error" ng-message="required">You forgot to enter your password...</div>
        <div class="flash-error" ng-message="minlength">Your password is too short...</div>
        <div class="flash-error" ng-message="maxlength">Your password is too long...</div>
      </div>
    </div>

    <div class="form-group-2">
      <input type="password"
             name="password-confirmation"
             class="form-control"
             placeholder="Confirm Password"
             ng-model="user['password_confirmation']"
             ng-minlength="6"
             ng-maxlength="20"
             required>
      <div ng-messages="registrationForm.password.$error">
        <div class="flash-error" ng-message="required">You forgot to enter your password...</div>
        <div class="flash-error" ng-message="minlength">Your password is too short...</div>
        <div class="flash-error" ng-message="maxlength">Your password is too long...</div>
    </div>

    <div class="form-group-2">
      <input type="text"
             name="name"
             class="form-control"
             placeholder="Instagram Username"
             ng-model="user['instagram_name']"
             ng-minlength="1"
             ng-maxlength="40"
             required>
      <div ng-messages="signUpForm.name.$error">
        <div class="flash-error" ng-message="required">You forgot to enter your instagram username...</div>
        <div class="flash-error" ng-message="minlength">You must have at least one letter...</div>
        <div class="flash-error" ng-message="maxlength">Your instagram username is too long...</div>
      </div>
    </div>
    <button class="sign-in"
            ng-disabled="signUpForm.$invalid">Sign Up</button>
    <p>Already signed up? <a href="#/signin"> Login here!</p>
  </form>
</div>