<div style="margin-top:200px;"
<h2>{{ user.name }}</h2>
<h3>{{ user.email }}</h3>
<h3>Instagram Name: {{ user.instagram_name }}</h3>
<ul>
  <li ng-repeat="journey in journeys">
    <a ui-sref="user.journey({journeyId: journey.id})">{{ journey.name }}</a>
    <a ui-sref="#"
       editable-text="journey.date"
       onaftersave="updateJourney()">{{ journey.date }}
    </a>
    <button type="button" 
            ng-click="startEditing()">
      <i class="fa fa-pencil-square-o"></i>
    </button>
    <button class="delete button" 
            onClick="return confirm('Are you sure you want to delete this journey?')" 
            ng-click="destroyJourney()">X</button>
    <input  ng-if="isEditing"
            type="text"
            ng-model="journey.name"
            placeholder:"{{ journey.name }}"
            onaftersave="updateJourney()"
            onaftersave="stopEditing()">
  </li>
</ul>
<div>
<div ui-view></div>


